//
//  Arduino Due (Programming Port).xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on 23 Oct 2012
//  Copyright   (c) 2010-2020 https://embedXcode.weebly.com
//  Licence     All rights reserved
//
// Last update: 25 Sep 2018 release 10.0.6

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = arduino_due_x_dbg

// Port (optional)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
// Note: if /dev/tty.usbserial* doesn't work, try /dev/tty.usbmodem*
//
//BOARD_PORT = /dev/tty.usbserial*
BOARD_PORT = /dev/tty.usbmodem*

// Warning: some users have reported /dev/cu.usb*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __SAM3X8E__ ARDUINO

// Specify the full path and name of the application
// with /Contents/Java/** after
//
HEADER_SEARCH_PATHS = $HOME/Library/Arduino15/packages/arduino/hardware/sam/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
MAX_RAM_SIZE = 98304

CONFIG_NAME = Arduino Due (Programming Port)
